blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}
ul {
    list-style: none;
}
bouton,
input,
select {
    margin: 0;
}
html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
    color: black;
}
img,
video {
    height: auto;
    max-width: 100%;
}
iframe {
    border: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td,
th {
    padding: 0;
}

.pro-pic{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.profile-pic:hover{
    cursor: pointer;
    transition: ease-in-out 0.5s;
    background-color: calc(50px) rgb(223, 223, 223);
}

.profile-pic {
    border-radius: 50%;
    object-fit: cover;
    width: 40px;
    height: 40px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    height: 60px;
}

ul{
    display: flex;
    align-items: center;
    list-style: none;
}

li{
    text-align: center;
    padding: 14px 12px;
}

a{
    text-decoration: none;
}

li a:hover{
    text-decoration: underline;
}

.text_6{
    font-size: 0.9rem;
}

.menu-bg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: ease-out 0.3s;
}

.menu-bg:hover{
    background-color: rgb(223, 223, 223);
    cursor: pointer;
}

.menu-bg[title]{
    position: relative;
}

.menu-bg[title]:hover:after {
    content: attr(title);
    position: absolute;
    background: #666666;
    color: white;
    font-size: 13px;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
    bottom: -35px;
}

.menu-bg[title]:hover:after{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.menu-bg[title]:hover:after{
    opacity: 1;
}

.menu-button{
    width: 20px;
}

/* .menu-bt{
    font-size: calc(8px + 100%);
} */

.search-wrapper{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    height: 92px;
    aspect-ratio: auto 272/92;
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

form{
    position: relative;
    margin-top: 30px;
}

input{
    width: 580px;
    height: 46px;
    padding-left: 50px;
    font-size: 1.2rem;
    border-radius: 45px;
    border: 1px solid #d3d3d3;
}

input:hover{
    box-shadow: 0 1px 3px 1px rgba(201, 201, 201, 0.5);
}

input:focus{
    outline: none;
}

.search{
    width: 18px;
    position: absolute;
    top: 15px;
    left: 15px;
}

.mic{
    width: 20px;
    position: absolute;
    top: 13px;
    left: 540px;
}

.mic:hover{
    cursor: pointer;
}

button{
    border: 1px solid transparent;
    padding: 8px 12px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

button:hover{
    border: 1px solid #eee;
    box-shadow: 0 0 2px 1px rgba(189, 189, 189, 0.4);
    cursor: pointer;
}

.buttons{
    width: 360px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}